*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
static/images/autumn_banner.png filter=lfs diff=lfs merge=lfs -text
static/images/autumn_deep.png filter=lfs diff=lfs merge=lfs -text
static/images/autumn_soft.png filter=lfs diff=lfs merge=lfs -text
static/images/autumn_warm.png filter=lfs diff=lfs merge=lfs -text
static/images/autumn.png filter=lfs diff=lfs merge=lfs -text
static/images/discover-1.png filter=lfs diff=lfs merge=lfs -text
static/images/discover-2.png filter=lfs diff=lfs merge=lfs -text
static/images/discover-3.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-autumn.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-spring.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-summer.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-summer1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-summer2.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion-winter.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/autumn-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/autumn-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/autumn-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/autumn-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/autumn1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/spring-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/spring-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/spring-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/spring-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/spring1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/summer-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/summer-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/summer-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/summer1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/winter-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/winter-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/winter-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/female/winter1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/autumn-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/autumn-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/autumn-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/autumn-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/autumn1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/spring-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/spring-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/spring-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/spring1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/summer-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/summer-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/summer1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/winter-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/winter-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/winter-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/male/winter1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/autumn-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/autumn-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/autumn-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/autumn-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/autumn1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/spring-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/spring-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/spring-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/spring-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/spring1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/summer-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/summer-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/summer-silk.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/summer1.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/winter-button.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/winter-linen.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/winter-portrait.png filter=lfs diff=lfs merge=lfs -text
static/images/fashion/neutral/winter1.png filter=lfs diff=lfs merge=lfs -text
static/images/female.png filter=lfs diff=lfs merge=lfs -text
static/images/logo.png filter=lfs diff=lfs merge=lfs -text
static/images/male.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons_autumn.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons_spring.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons_summer.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons_winter.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons1.png filter=lfs diff=lfs merge=lfs -text
static/images/seasons2.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-2.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-3.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-4.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-5.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-carousel/shop-autumn.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-carousel/shop-spring.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-carousel/shop-summer.png filter=lfs diff=lfs merge=lfs -text
static/images/shop-carousel/shop-winter.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/autumn/16.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/autumn/6.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/autumn/9.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/spring/1.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/spring/14.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/spring/4.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/spring/6.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/spring/8.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/summer/1.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/summer/11.jpeg filter=lfs diff=lfs merge=lfs -text
static/images/shop/summer/5.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/summer/6.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/summer/7.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/10.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/13.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/16.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/2.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/3.webp filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/4.png filter=lfs diff=lfs merge=lfs -text
static/images/shop/winter/8.webp filter=lfs diff=lfs merge=lfs -text
static/images/spring_banner.png filter=lfs diff=lfs merge=lfs -text
static/images/spring_clear.png filter=lfs diff=lfs merge=lfs -text
static/images/spring_light.png filter=lfs diff=lfs merge=lfs -text
static/images/spring_warm.png filter=lfs diff=lfs merge=lfs -text
static/images/spring.png filter=lfs diff=lfs merge=lfs -text
static/images/summer_banner.png filter=lfs diff=lfs merge=lfs -text
static/images/summer_light.png filter=lfs diff=lfs merge=lfs -text
static/images/summer_soft.png filter=lfs diff=lfs merge=lfs -text
static/images/summer_true.png filter=lfs diff=lfs merge=lfs -text
static/images/summer.png filter=lfs diff=lfs merge=lfs -text
static/images/winter_banner.png filter=lfs diff=lfs merge=lfs -text
static/images/winter_bright.png filter=lfs diff=lfs merge=lfs -text
static/images/winter_deep.png filter=lfs diff=lfs merge=lfs -text
static/images/winter_true.png filter=lfs diff=lfs merge=lfs -text
static/images/winter.png filter=lfs diff=lfs merge=lfs -text
