<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MyTone</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
    {% block page_css %}{% endblock %}

</head>
<body>

    {% include 'partials/navbar.html' %}

    <main class="main-content full">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>