* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

ul {
    list-style: none;
}

section {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 var(--web-border);
}

img {
  display: block;
  max-width: 100%;
}